<!doctype html>
<html lang="ja">

    <style>
        #Wrapper{
            text-align: center;
        }
    </style>

    <body>
        <div style="text-align:center;">
            <div style="display:inline-block;">
                <h1>
                    レビューをネガポジ判定！
                </h1>
            
                <div id="wrapper">                    
                    <form method="post">
                        {{forms.csrf_token}}

                        {{ forms.InputFormTest.label }}<br>
                        {{forms.InputFormTest}}<br>
                        <br>

                        {{forms.submit}}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

